.feedback-button {
  outline: none;
  background-color: #4EA2AB;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 1px;
  &:hover {
    background-color: #404040;
    cursor: pointer;
  }
  img {
    height: 50px;
    color: white;
  }
}
