$size: 150px;

.icon {
  font-family: "Museo Sans";
  position: relative;
  height: $size;
  width: $size;
  border-radius: $size;
  margin: 10px;
  color: black;
  text-align: center;
  background-color: #A7D1D5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $size;
    width: $size;
    border-radius: $size;
    transition: .5s ease;
    &:hover {
      opacity: 0.2;
    }
  }
}

.icon-title {
  font-size: 15px;
}
