
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-name {
  font-size: 60px;
}

.modal-title {
  font-size: 30px;
}

$picsize: 150px;

.modal-pic {
  border: 0.5px solid;
  height: $picsize;
  width: $picsize;
  border-radius: $picsize;
  margin-right: 20px;
}
