$picsize: 150px;

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    height: $picsize;
    width: $picsize;
    border-radius: $picsize;
    margin-right: 20px;
  }
}

.modal-name {
  font-size: 50px;
}

.modal-title {
  font-size: 30px;
}
