.filter-item {
  background-color: #4EA2AB;
  border: 0px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  color: white;
  margin: 10px;
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
    opacity: 1;
  }
}
